In [ ]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import ast

#loading data
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset['train'].to_pandas()

#data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'], errors='coerce')
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

Pandas - explode(), sirve para transformar cada elemento de una lista en una fila separada, replicando los valores de las demás columnas.

In [ ]:
""" df[['job_title_short', 'job_skills']].head()
df_exploded = (df.explode('job_skills'))
df_exploded['job_skills'].value_counts().head(10).plot(kind='bar') """

In [ ]:
df_exploded = df.explode('job_skills')
df_exploded
skills_count = df_exploded.groupby(['job_title_short', 'job_skills']).size() 
#skills_count is a Series now, have on column with value and another to describe that value, we want to be a dataframe so we need a new index

df_skills_count = skills_count.reset_index(name='counts').sort_values(by='counts', ascending=False)
df_skills_count

In [ ]:
job_title = 'Senior Data Engineer'
top_skills = 10

df_skills_final = df_skills_count[df_skills_count['job_title_short'] == job_title].head(top_skills)

df_skills_final.plot(x='job_skills', y='counts', kind='barh', legend=False, title=f'Top {top_skills} skills for {job_title}')
plt.xlabel('Skills')
plt.gca().invert_yaxis() #gca gets current axis, invert y axis to have the highest value on top
plt.legend().remove()

# ¿Qué pasa con los valores NaN al usar explode()?
1. ¿explode elimina o conserva el NaN?
1) 
2. ¿Cómo harías para reemplazar el NaN con una lista vacía antes de explotar?

In [ ]:
import pandas as pd
dataframe = pd.DataFrame({
    "job_title": ["DA", "DS", "ML"],
    "skills": [["Python", "SQL"], None, ["Python"]]
})

dataframe_exploded = dataframe['skills'].apply(lambda x: list if x is None else x)
dataframe_exploded = dataframe.explode('skills')
dataframe_exploded